#logo {
    height: 100px;
    width: 130px;
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%, -50%);
  }

h2 {
    font-family: BebasNeue-Regular;
    text-align: center;
}

.insta{
    width: 140px;
    transform: translateX(-50%);
    margin-left: 50%;
}

.titulo2{
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-family: BebasNeue-Regular;
}

span{
    color: rgb(255, 255, 255);
    font-family: monospace;
}

.obj{
    text-align: center;
    font-size: large;
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

ion-content{
    --ion-background-color:#ad0002;
}