<ion-header>
	<ion-toolbar>
		<ion-img src="../assets/logo.png" id="logo"></ion-img>
	</ion-toolbar>
</ion-header>

<ion-content class="background">

  <div>
  <h2 class="titulo2">Nossa Equipe</h2>
  <div style="display: flex;flex-direction: row; justify-content: center;"> <a href="https://www.instagram.com/romaoandre_/"><img class="insta" src="assets/instadede.png"></a>
    <a href="https://www.instagram.com/lucas_borba11/"><img class="insta" src="assets/instaluca.png"></a></div>
 
</div>

<div>
  <h2 class="titulo2">Nosso Objetivo</h2>
  <br>
  <div class="obj">
  <span>Nosso objetivo é trazer praticidade na hora de fazer suas deliciosas receitas,
    todas as receitas são enviadas e testadas pelos próprios usuários
 com fotos, modo de preparo e lista de ingredientes,
    o DeuFome tem diversas receitas para os mais diversos gostos culinarios</span>
</div>
  </div>
</ion-content>

