.wrapper{
  width: 90%;
  margin: 10% auto;
}

.item{
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(to top right, #d3d3d3, #fff);
  margin-bottom: 5%;
}

.topDiv{
width: 100%;
border-radius: 10px;
height: 200px;
}

.topDiv img{
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 200px;
}

.bottomDiv{
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: aqua;
  
}

ion-icon{
  font-size: 100px;
}