<ion-header>
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
	  </ion-buttons>
	  <ion-img src="../assets/logo.png" id="logo"></ion-img>
	</ion-toolbar>
  </ion-header>
  <ion-content>

	<div id="todos">
	<div *ngFor="let post of posts" >
	  <ion-card class="cards" (click)="postDetails(post)" *ngIf="(post.tipo == 'lanches')">
		<ion-card-header>
			<img src="{{post.photo}}"  class="img"/>
		  <ion-card-title class="tituloreceitas">{{post.titulo}}</ion-card-title>
		  <ion-card-subtitle>Por: USUARIO</ion-card-subtitle>
		</ion-card-header>
	  </ion-card>
	</div>

	  <ion-card class="cards" (click)="toggleHidden()">
		<ion-card-header>
		  <img src="assets/lanche1.jpg" class="img" />
		  <ion-card-title class="tituloreceitas">Sanduíche natural de Frango</ion-card-title>
		  <ion-card-subtitle class="fonteusuario">Por: André Romão</ion-card-subtitle>
		  <br />
		</ion-card-header>
		<ion-card-content class="fonteingredientes" *ngIf="hidden">
		  <img class="iconeingredientes" src="assets/iconeingredientes.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> 200g de frango cozido desfiado</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 caixa de creme de leite</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 3 colheres de sopa de maionese</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 lata de milho verde</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 10 azeitonas cortadas em pedacinhos</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 pacote de pão integral quadrado</i>
		  </p>
		  <br />
		  <img class="iconepreparo" src="assets/iconepreparo.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> Misture todos os ingredientes (menos o pão) no liquidificador e bata por uns 5 minutos. Depois é só colocar o patê nos pães e enrolar em papel filme e guardar na geladeira.</i>
		  </p>
		</ion-card-content>
	  </ion-card>
	  <ion-card class="cards" (click)="toggleHidden2()">
		<ion-card-header>
		  <img src="assets/lanche2.jpg" class="img" />
		  <ion-card-title class="tituloreceitas">Misto quente de forno</ion-card-title>
		  <ion-card-subtitle class="fonteusuario">Por: Flávia</ion-card-subtitle>
		  <br />
		</ion-card-header>
		<ion-card-content class="fonteingredientes" *ngIf="hidden2">
		  <img class="iconeingredientes" src="assets/iconeingredientes.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> 400 g de presunto magro</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 400 g de queijo</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Extrato de tomate</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 caixinha de creme de leite</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 pacote de pão de sanduíche</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Orégano</i>
		  </p>
		  <br />
		  <img class="iconepreparo" src="assets/iconepreparo.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> Em uma forma colocar uma camada de pão de forma, cuidar para que toda a forma fique coberta, passar sobre esta camada o extrato de tomate. Feito isso coloque uma camada de presunto e uma de queijo, cubra com outra camada de pão. Passe o creme de leite uniformemente, e logo após coloque a 2ª camada de presunto, deixe o queijo por último. Por cima do queijo despeje o orégano, que dá um gostinho todo especial. Leve ao forno até derreter o queijo. </i>
		  </p>
		</ion-card-content>
	  </ion-card>
	  <ion-card class="cards" (click)="toggleHidden3()">
		<ion-card-header>
		  <img src="assets/lanche3.jpg" class="img" />
		  <ion-card-title class="tituloreceitas">Bauru de forno</ion-card-title>
		  <ion-card-subtitle class="fonteusuario">Por: André Romão</ion-card-subtitle>
		  <br />
		</ion-card-header>
		<ion-card-content class="fonteingredientes" *ngIf="hidden3">
		  <img class="iconeingredientes" src="assets/iconeingredientes.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> 2 pacotes de pão de forma</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 4 colheres de maionese</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 lata de molho de tomate pronto</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 400 g de presunto</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 450 g de mussarela</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Rodelas de tomate</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Orégano</i>
		  </p>
		  <br />
		  <img class="iconepreparo" src="assets/iconepreparo.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> Junte a forma com a maionese. Coloque uma camada do pão de forma. Em cima do pão coloque um pouco de molho de tomate (cubra todo o pão, mais cuidado para não colocar molho demais e não ficar enjoativo e mole). Faça uma camada de presunto e outra de mussarela e coloque rodelas de tomate e o orégano por cima. Coloque mais uma camada de pão de forma com o molho de tomate. E mais uma camada de presunto, mussarela, tomate e orégano. Coloque mais uma camada de mussarela e orégano. Leve ao formo por uns 15 minutos para que a mussarela derreta, cuidado pra não queimar o fundo. </i>
		  </p>
		</ion-card-content>
	  </ion-card>
	  <ion-card class="cards" (click)="toggleHidden4()">
		<ion-card-header>
		  <img src="assets/lanche4.jpg" class="img" />
		  <ion-card-title class="tituloreceitas">Bolinho de mandioca recheado de carne moida</ion-card-title>
		  <ion-card-subtitle class="fonteusuario">Por: André Romão</ion-card-subtitle>
		  <br />
		</ion-card-header>
		<ion-card-content class="fonteingredientes" *ngIf="hidden4">
		  <img class="iconeingredientes" src="assets/iconeingredientes.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> 1 kg de mandioca</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 ramo de cebolinha verde</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 1 colher de sopa de sal</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 4 copos de farinha de trigo</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 2 copos de leite</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 2 copos de água</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> 500 g de carne moída ou o recheio de sua preferência</i>
		  </p>
		  <br />
		  <img class="iconepreparo" src="assets/iconepreparo.png" />
		  <br />
		  <br />
		  <p>
			<i class="icon ion-md-restaurant"> Cozinhe a mandioca na pressão com 1 colher de sopa de sal por 45 minutos.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Escorra bem e amasse com um garfo até virar um purê, jogue a cebolinha picadinha e misture a massa, reserve.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Refogue a carne moída como de costume, deixe ela bem sequinha, sem água.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Em uma panela ferva o leite a água, tempere a gosto, deixe ferver e jogue a farinha toda de uma vez.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Amasse até ficar homogênea.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Jogue essa massa em uma bancada e deixe esfriar um pouco, sove bem.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Misture a massa da mandioca reservada, passe óleo na mão e monte os bolinhos recheando.</i>
		  </p>
		  <p>
			<i class="icon ion-md-restaurant"> Fritar em óleo bem quente.</i>
		  </p>
		</ion-card-content>
	  </ion-card>
	</div>
  </ion-content>