<ion-header>
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
	  </ion-buttons>
	  <ion-img src="../assets/logo.png" id="logo"></ion-img>
	</ion-toolbar>
  </ion-header>
  <ion-content>
	<div id="todos">
	<div *ngFor="let post of posts">
		<ion-card class="cards" *ngIf="(post.tipo == 'massas')" (click)="postDetails(post)">
		  <ion-card-header>
			  <img src="{{post.photo}}"  class="img"/>
			<ion-card-title class="tituloreceitas">{{post.titulo}}</ion-card-title>
			<ion-card-subtitle>Por: USUARIO</ion-card-subtitle>
			<br>
		  </ion-card-header>
		  <ion-icon name="trash" (click)="deletePost(post)"></ion-icon>
		</ion-card>
	</div>
	<ion-card id="cards" (click)="toggleHidden()">
	  <ion-card-header>
		<img src="assets/massas1.jpg" class="img" />
		<ion-card-title class="tituloreceitas">PIZZA DE PÃO DE FORMA</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: Denise</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 2 tomates</i></p>
		<p><i class="icon ion-md-restaurant"> 1 cebola</i></p>
		<p><i class="icon ion-md-restaurant"> 4 dentes de alho</i></p>
		<p><i class="icon ion-md-restaurant"> Orégano a gosto</i></p>
		<p><i class="icon ion-md-restaurant"> Sal a gosto</i></p>
		<p><i class="icon ion-md-restaurant"> Azeite</i></p>
		<p><i class="icon ion-md-restaurant"> 1 pacote de pão de forma</i>></p>
		<p><i class="icon ion-md-restaurant"> 200 g de presunto</i></p>
		<p><i class="icon ion-md-restaurant"> 200 g de queijo mussarela</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Refogue o alho juntamente com a cebola no azeite.</i></p>
		<p><i class="icon ion-md-restaurant"> A seguir, coloque o tomate e o sal até formar um molho cremoso. Reserve.</i></p>
		<p><i class="icon ion-md-restaurant"> Coloque os pães numa assadeira, jogue todo o molho em cima dos pães e acrescente o presunto por cima deste molho.</i></p>
		<p><i class="icon ion-md-restaurant"> Cubra com bastante queijo e regue com orégano e azeite.</i></p>
		<p><i class="icon ion-md-restaurant"> Coloque a assadeira no forno pré-aquecido.</i></p>
		<p><i class="icon ion-md-restaurant"> Assim que o queijo derreter estará pronta a pizza.</i></p>
	  </ion-card-content>
	</ion-card>
	<ion-card id="cards" (click)="toggleHidden2()">
	  <ion-card-header>
		<img src="assets/massas2.jpg" class="img" />
		<ion-card-title class="tituloreceitas">MACARRONADA DE CARNE MOÍDA</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: *USUARIO*</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden2">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 1 pacote de macarrão para macarronada</i></p>
		<p><i class="icon ion-md-restaurant"> 1 caixa de extrato de tomate (grande)</i></p>
		<p><i class="icon ion-md-restaurant"> 1/2 kg de carne moída</i></p>
		<p><i class="icon ion-md-restaurant"> Cebolinha, pimentaõ, cheiro verde, alho, tomate (para temperar carne) knnor</i></p>
		<p><i class="icon ion-md-restaurant"> 2 creme de leite</i></p>
		<p><i class="icon ion-md-restaurant"> 200 g de queijo mussarela</i></p>
		<p><i class="icon ion-md-restaurant"> 100 g de presunto</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Cozinhe a carne moída temperada com sal, cebolinha, pimentão, cheiro verde, tomate, knnor (ou ao seu gosto) deixe a carne com pouca água.</i></p>
		<p><i class="icon ion-md-restaurant"> Após cozida junte o extrato de tomate até levantar fervura, a consistência deve estar bem grossa, apague o fogo e acrescente o creme de leite (reserve).</i></p>
		<p><i class="icon ion-md-restaurant"> Corte o queijo e o presunto em tirinhas.</i></p>
	  </ion-card-content>
	</ion-card>
	<ion-card id="cards" (click)="toggleHidden3()">
	  <ion-card-header>
		<img src="assets/massas3.jpg" class="img" />
		<ion-card-title class="tituloreceitas">CALZONE DE CALABRESA COM CATUPIRY</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: *USUARIO*</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden3">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 30 g de fermento biológico</i></p>
		<p><i class="icon ion-md-restaurant"> 1 colher (sobremesa) de sal</i></p>
		<p><i class="icon ion-md-restaurant"> 2 colheres (sobremesa) de açúcar</i></p>
		<p><i class="icon ion-md-restaurant"> 2 colheres (sobremesa) de açúcar</i></p>
		<p><i class="icon ion-md-restaurant"> 3 colheres de sopa de óleo</i></p>
		<p><i class="icon ion-md-restaurant"> 2 xícaras de chá de água morna</i></p>
		<p><i class="icon ion-md-restaurant"> 3 xícaras de chá de farinha de trigo</i></p>
		<p><i class="icon ion-md-restaurant"> Óleo para fritar</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Em uma tigela, coloque o fermento, o sal, o açúcar e misture bem até obter um líquido homogêneo.</i></p>
		<p><i class="icon ion-md-restaurant"> Junte o óleo, a água e acrescente a farinha de trigo aos poucos até desgrudar das mãos.</i></p>
		<p><i class="icon ion-md-restaurant"> Sove a massa e divida em 10 partes.</i></p>
		<p><i class="icon ion-md-restaurant"> Deixe crescer por 15 minutos ou até dobrar de volume.</i></p>
		<p><i class="icon ion-md-restaurant"> Abra as massas com um rolo, divida os ingredientes do recheio entre as massas abertas.</i></p>
		<p><i class="icon ion-md-restaurant"> Dobre a massa ao meio, formando uma meia-lua.</i></p>
		<p><i class="icon ion-md-restaurant"> Aperte bem as bordas para não abrir na hora de fritar.</i></p>
		<p><i class="icon ion-md-restaurant"> Frite uma de cada vez em óleo quente por 10 minutos ou até fritar e dourar por igual.</i></p>
		<p><i class="icon ion-md-restaurant"> Retire do fogo, coloque sobre papel-toalha para escorrer o óleo, sirva a seguir.</i></p>
	  </ion-card-content>
	</ion-card>
	<ion-card id="cards" (click)="toggleHidden4()">
	  <ion-card-header>
		<img src="assets/massas4.jpg" class="img" />
		<ion-card-title class="tituloreceitas">PÃO DE BATATA (MASSA CURINGA)</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: *USUARIO*</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden4">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 1 colher de café de sal</i></p>
		<p><i class="icon ion-md-restaurant"> 2 colheres de sopa de açúcar</i></p>
		<p><i class="icon ion-md-restaurant"> 2 xícaras de batata (4 batatas médias)</i></p>
		<p><i class="icon ion-md-restaurant"> 3 colheres de sopa de manteiga ou margarina</i></p>
		<p><i class="icon ion-md-restaurant"> 3 gemas</i></p>
		<p><i class="icon ion-md-restaurant"> 50 ml de leite ou água (morno)</i></p>
		<p><i class="icon ion-md-restaurant"> 10g de fermento biológico instantâneo seco (fleischmann)</i></p>
		<p><i class="icon ion-md-restaurant"> 1 kg de farinha de trigo</i></p>
		<p><i class="icon ion-md-restaurant"> 1 gema para pincelar</i></p>
		<p><i class="icon ion-md-restaurant"> opção de recheio</i></p>
		<p><i class="icon ion-md-restaurant"> salsicha</i></p>
		<p><i class="icon ion-md-restaurant"> carne moída</i></p>
		<p><i class="icon ion-md-restaurant"> frango</i></p>
		<p><i class="icon ion-md-restaurant"> queijo e presunto</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p>
		  <i class="icon ion-md-restaurant">
			Descasque as batatas e deixe cozinhar somente na água sem sal. Coloque em uma peneira para escorrer e deixe ficar morno. Quando estiver morno amasse com um garfo ou passe no espremedor (como para purê), reserve.
		  </i>
		</p>
		<p><i class="icon ion-md-restaurant"> Bata no liquidificador o sal, o açúcar, as gemas, manteiga, leite morno (não pode estar muito quente senão a massa não cresce), o fermento misturado com um pouco de trigo.</i></p>
		<p>
		  <i class="icon ion-md-restaurant">
			Coloque está batida junto a batata amassada em uma vasilha e vá acrescentando a farinha de trigo. Coloque a massa sobre uma bancada de mármore e continue juntando o trigo até a massa desgrudar da mão. Deixe descansar por 15
			minutos.
		  </i>
		</p>
		<p><i class="icon ion-md-restaurant"> Corte a massa em pedaços, faça bolinhas e coloque para descansar por 30 minutos coberto por um pano.</i></p>
		<p>
		  <i class="icon ion-md-restaurant">
			Abra a massa e recheie como quiser pode fazer bolinhas recheadas, esfirra, enroladinho, pão. Deixe descansar na assadeira untada por mais 50 minutos ou até dobrar de tamanho, misture a gema com um pouquinho de café e pincele os
			pães (o café serve para ficar douradinho).
		  </i>
		</p>
		<p><i class="icon ion-md-restaurant"> Asse em forno 200 graus não precisa estar pré-aquecido. Os pães estarão bons quando estiver dourado por cima e por baixo. (+ ou - 40 minutos de forno).</i></p>
	  </ion-card-content>
	</ion-card>
	</div>
  </ion-content>
  