<ion-header>
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
	<ion-toolbar color="body">
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
	  </ion-buttons>
	  <ion-title>Massas</ion-title>
	</ion-toolbar>
  </ion-header>
  <ion-content>
	<div id="todos">
	<div class="teste" *ngFor="let post of posts">
		<ion-card class="cards" *ngIf="(post.tipo == 'massas')" (click)="postDetails(post)">
		  <ion-card-header>
			  <img src="{{post.photo}}"  class="img"/>
			<ion-card-title class="tituloreceitas">{{post.titulo}}</ion-card-title>
			<ion-card-subtitle>Por: {{post.usuario}}</ion-card-subtitle>
			<ion-row><ion-icon name="star"></ion-icon><ion-card-subtitle class="fontenota">{{post.nota}}</ion-card-subtitle></ion-row>

		  </ion-card-header>
		</ion-card>
	</div>
	</div>
  </ion-content>
  