<ion-header>
	<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="home"></ion-back-button>
		<ion-title>Veganas</ion-title>
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>
  <ion-content>
	<div id="todos">
		<div *ngFor="let post of posts">
		<ion-card class="cards" *ngIf="(post.tipo == 'veganas')" (click)="postDetails(post)">
		  <ion-card-header>
			  <img src="{{post.photo}}"  class="img"/>
			<ion-card-title class="tituloreceitas">{{post.titulo}}</ion-card-title>
			<ion-card-subtitle>Por: {{post.usuario}}</ion-card-subtitle>
			<br>
		  </ion-card-header>
		</ion-card>
	</div>


	<ion-card id="cards" (click)="toggleHidden()">
	  <ion-card-header>
		<img src="/assets/vegana1.jpg" class="img" />
		<ion-card-title class="tituloreceitas">PÃO DE QUEIJO VEGANO</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: André Romão</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 2 xícaras de polvilho doce</i></p>
		<p><i class="icon ion-md-restaurant"> 1 xícara de polvilho azedo</i></p>
		<p><i class="icon ion-md-restaurant"> 1/3 xícara de óleo</i></p>
		<p><i class="icon ion-md-restaurant"> 2 xícaras de batata salsa amassada (tipo purê)</i></p>
		<p><i class="icon ion-md-restaurant"> 1 xícara de água quente</i></p>
		<p><i class="icon ion-md-restaurant"> sal a gosto</i></p>
		<p><i class="icon ion-md-restaurant"> temperos a gosto (salsinha desidratada, ervas finas, alho desidratado, gergelim, linhaça)</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Cozinhar em água fervente, a batata salsa já descascada.</i></p>
		<p><i class="icon ion-md-restaurant"> Reservar a água utilizada após o fervimento.</i></p>
		<p><i class="icon ion-md-restaurant"> Amassar as batatas, até a consistência de um purê.</i></p>
		<p><i class="icon ion-md-restaurant"> Em uma travessa, adicionar o polvilho azedo, o polvilho doce, o óleo, o sal e a água quente do fervimento das batatas.</i></p>
		<p><i class="icon ion-md-restaurant"> Misturar bem, podendo utilizar as próprias mãos, até virar uma massa uniforme.</i></p>
		<p><i class="icon ion-md-restaurant"> Acrescentar os temperos que preferir.</i></p>
		<p><i class="icon ion-md-restaurant"> Pode separar a massa em pedaços e acrescentar temperos diferentes para cada pedaço.</i></p>
		<p><i class="icon ion-md-restaurant"> Fazer bolinhas, de preferência pequenas, e coloque em uma assadeira antiaderente com espaço entre uma bolinha e outra, pois quase duplica de tamanho.</i></p>
		<p><i class="icon ion-md-restaurant"> Em forno preaquecido a 180°C, colocar seus pães de queijo veganos por aproximadamente 20 minutos, ou quanto achar necessário.</i></p>
	  </ion-card-content>
	</ion-card>
	<ion-card id="cards" (click)="toggleHidden2()">
	  <ion-card-header>
		<img src="/assets/vegana2.jpg" class="img" />
		<ion-card-title class="tituloreceitas">HAMBÚRGUER DE FEIJÃO-FRADINHO VEGANO</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: Lucas Santos</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden2">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 2 xícaras de feijão-fradinho cozido</i></p>
		<p><i class="icon ion-md-restaurant"> 1/4 xícara de água quente</i></p>
		<p><i class="icon ion-md-restaurant"> 1 colher rasa de páprica picante</i></p>
		<p><i class="icon ion-md-restaurant"> sal a gosto</i></p>
		<p><i class="icon ion-md-restaurant"> 2 colheres de óleo de soja ou azeite de oliva</i></p>
		<p><i class="icon ion-md-restaurant"> 1 cebola</i></p>
		<p><i class="icon ion-md-restaurant"> 3 dentes de alho</i></p>
		<p><i class="icon ion-md-restaurant"> 6 colheres de farinha de milho</i></p>
		<p><i class="icon ion-md-restaurant"> farinha de rosca para untar</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Amasse bem o feijão-fradinho cozido, juntando a água para ajudar a amassar.</i></p>
		<p><i class="icon ion-md-restaurant"> Caso o feijão esteja recém cozido, use a água conforme necessidade, pois ele já estará úmido.</i></p>
		<p><i class="icon ion-md-restaurant"> Tempere com sal a seu gosto e adicione a páprica, misture bem</i></p>
		<p><i class="icon ion-md-restaurant"> Depois coloque o óleo de soja (a massa ficara mais homogênea).</i></p>
		<p><i class="icon ion-md-restaurant"> Corte a cebola e o alho em pedaços bem pequenos e adicione à massa (se preferir pode passar a cebola na frigideira).</i></p>
		<p><i class="icon ion-md-restaurant"> Vá colocando as colheres de farinha de milho, de uma a uma e vá misturando com as mãos mesmo.</i></p>
		<p><i class="icon ion-md-restaurant"> A massa fica um pouco úmida mesmo, então, se não houver necessidade, não utilize todas as 6 colheres de farinha de milho.</i></p>
		<p><i class="icon ion-md-restaurant"> Molde-os com as mãos e unte com a farinha de rosca.</i></p>
		<p><i class="icon ion-md-restaurant"> Para fritar, deixe de 3 a 4 minutos de cada lado e está pronto.</i></p>
		<p><i class="icon ion-md-restaurant"> Tome cuidado com o manuseio na hora de fritar.</i></p>
		<p><i class="icon ion-md-restaurant"> Você pode fazer e congelar também.</i></p>
		<p><i class="icon ion-md-restaurant"> Depois é só ir direto para a frigideira.</i></p>
	  </ion-card-content>
	</ion-card>
	<ion-card id="cards" (click)="toggleHidden3()">
	  <ion-card-header>
		<img src="/assets/vegana3.jpg" class="img" />
		<ion-card-title class="tituloreceitas">TORTA VEGANA AGRIDOCE DE LIQUIDIFICADOR</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: André Romão</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden3">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 1 xícara de chá de óleo</i></p>
		<p><i class="icon ion-md-restaurant"> 1 e 1/2 xícara de chá de água</i></p>
		<p><i class="icon ion-md-restaurant"> 1 colher de sobremesa de sal</i></p>
		<p><i class="icon ion-md-restaurant"> 1 colher de sopa de orégano</i></p>
		<p><i class="icon ion-md-restaurant"> 1 cebola</i></p>
		<p><i class="icon ion-md-restaurant"> 2 xícaras de chá de farinha de trigo</i></p>
		<p><i class="icon ion-md-restaurant"> 1 colher de chá de açúcar</i></p>
		<p><i class="icon ion-md-restaurant"> 1 colher de sopa cheia de fermento em pó</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Junte com azeite uma assadeira retangular.</i></p>
		<p><i class="icon ion-md-restaurant"> Coloque metade da massa.</i></p>
		<p><i class="icon ion-md-restaurant"> Coloque o recheio bem acomodado e espalhado por cima.</i></p>
		<p><i class="icon ion-md-restaurant"> Cubra com a outra metade da massa.</i></p>
		<p><i class="icon ion-md-restaurant"> Se quiser, decore com azeitonas pretas.</i></p>
		<p><i class="icon ion-md-restaurant"> Asse em forno médio preaquecido por cerca de 40 minutos ou até que doure.</i></p>
	  </ion-card-content>
	</ion-card>
	<ion-card id="cards" (click)="toggleHidden4()">
	  <ion-card-header>
		<img src="/assets/vegana4.jpg" class="img" />
		<ion-card-title class="tituloreceitas">ABÓBORA RECHEADA VEGANA</ion-card-title>
		<ion-card-subtitle class="fonteusuario">Por: André Romão</ion-card-subtitle>
		<br />
	  </ion-card-header>
	  <ion-card-content class="fonteingredientes" *ngIf="hidden4">
		<img class="iconeingredientes" src="assets/iconeingredientes.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> 1 abóbora</i></p>
		<p><i class="icon ion-md-restaurant"> 2 dentes de alho médios picados</i></p>
		<p><i class="icon ion-md-restaurant"> 1/2 cebola média picada</i></p>
		<p><i class="icon ion-md-restaurant"> 1 xícara (chá) de palmitos picados</i></p>
		<p><i class="icon ion-md-restaurant"> 1 xícara (chá) de tomates maduros picados</i></p>
		<p><i class="icon ion-md-restaurant"> 1/2 xícara (chá) de azeitonas picadas</i></p>
		<p><i class="icon ion-md-restaurant"> 1/2 xícara (chá) de água</i></p>
		<p><i class="icon ion-md-restaurant"> 2 colheres (sopa) de aveia em flocos finos</i></p>
		<p><i class="icon ion-md-restaurant"> 1/3 xícara (chá) de leite de coco</i></p>
		<p><i class="icon ion-md-restaurant"> 1/2 xícara (chá) de cheiro-verde picado</i></p>
		<p><i class="icon ion-md-restaurant"> sal</i></p>
		<p><i class="icon ion-md-restaurant"> óleo</i></p>
		<p><i class="icon ion-md-restaurant"> azeite a gosto</i></p>
		<br />
		<img class="iconepreparo" src="assets/iconepreparo.png" />
		<br />
		<br />
		<p><i class="icon ion-md-restaurant"> Retire a tampa de sua abóbora e reserve.</i></p>
		<p><i class="icon ion-md-restaurant"> Retire também todas as sementes com o auxílio de uma colher, salpique sal e jogue um fio de azeite e passe por todo o interior da abóbora.</i></p>
		<p><i class="icon ion-md-restaurant"> Cubra ela com papel-alumínio, tampe, disponha em uma assadeira e asse em forno médio preaquecido por 40 minutos ou até espetar o garfo e a abóbora estiver macia.</i></p>
		<p><i class="icon ion-md-restaurant"> Enquanto a abóbora assa, prepare o recheio.</i></p>
		<p><i class="icon ion-md-restaurant"> Em uma panela em fogo médio, coloque um fio de óleo e adicione os dentes de alho picados, refogando até dar uma leve douradinha.</i></p>
		<p><i class="icon ion-md-restaurant"> Acrescente a cebola e refogue novamente.</i></p>
		<p><i class="icon ion-md-restaurant"> Adicione os palmitos picados, os tomates e as azeitonas e refogue até o tomate dar uma leve derretida. Tempere com sal a gosto e refogue mais um pouco.</i></p>
		<p><i class="icon ion-md-restaurant"> Em 1/2 xícara de água, acrescente a aveia em flocos finos, misture e junte com os ingredientes da panela.</i></p>
		<p><i class="icon ion-md-restaurant"> Adicione também o leite de coco.</i></p>
		<p><i class="icon ion-md-restaurant"> Assim que começar a borbulhar, acrescente o cheiro-verde picado e desligue.</i></p>
		<p><i class="icon ion-md-restaurant"> Retire a abóbora do forno e o papel-alumínio que está sobre ela.</i></p>
		<p><i class="icon ion-md-restaurant"> Recheie o interior com a mistura da panela, tampe e deixe assar por mais 15 minutos..</i></p>
		<p><i class="icon ion-md-restaurant"> Está pronto, é divino, bom demais.</i></p>
	  </ion-card-content>
	</ion-card>
	</div>
  </ion-content>
  