<ion-header>
  <ion-toolbar>
    <ion-title>Top receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div class="card-header">
          <div>
          <ion-card-title>Nome receita</ion-card-title>
          <ion-card-subtitle>Por: Lucas</ion-card-subtitle>
        <div class="subtitles">
          <ion-card-subtitle>Categoria: Lanches</ion-card-subtitle>
        </div>
      </div>
      <div >
        <ion-img class="img" src="assets/lanche1.jpg" ></ion-img>
      </div>
      <br>
    </div>
</ion-card>
</ion-content>
