

ion-icon ion-label{
    color:  #5f5f5f;
    opacity: 1;
 }
 
     .perfil:hover {  
         ion-label{
             opacity: 1;
             color: #000;
         }
         ion-icon{
             opacity: 1;
             color: #000;
         }
         }
         .home:hover {  
             ion-label{
                 opacity: 1;
                 color: #000;
             
             }
             ion-icon{
                 opacity: 1;
                 color: #000;
             }
             }
             .sobre:hover {  
                 ion-label{
                     opacity: 1;
                     color: #000;
                 
                 }
                 ion-icon{
                     opacity: 1;
                     color: #000;
                 }
                 }
                 .postar:hover {  
                     ion-label{
                         opacity: 1;
                         color: #000;
                     
                     }
                     ion-icon{
                         opacity: 1;
                         color: #000;
                     }
                     }