<ion-header>
  <ion-toolbar>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
    <ion-icon name="trash-outline" (click)="deletePost(post)"></ion-icon>
    <ion-img src="../assets/logo.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="conteudo">
    <img src="{{ post.photo }}" class="img">
    <span class="titulo">{{ post.titulo }}</span>
    <span class="usuario">Por: André</span>
    <img src="../assets/iconeingredientes.png" class="imgingredientes">
    <p><i class="icon ion-md-restaurant">{{ post.ingredientes}}</i></p>
  </div>



</ion-content>
