<ion-header>
  <ion-toolbar>
    <ion-icon name="trash" (click)="deletePost(post)"></ion-icon>
    <ion-img src="../assets/logo.png" id="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>





<div>
  <ion-card class="wrapper">
  <ion-card-header>
    <div >
      <img src="{{ post.photo }} " class="topDiv">
    </div>     

    <ion-card-title class="tituloreceitas">Título: {{post.titulo}}
    </ion-card-title>
    <br>
  </ion-card-header>
  <ion-card-content>
    <p>Ingredientes: {{post.ingredientes}}</p>

   <p>Modo de Preparo: {{post.modopreparo}}</p>

  </ion-card-content>
  </ion-card>
</div>



</ion-content>
