ion-icon{
  font-size: 25px;
  display: flex;
  margin-left: auto;
  margin-right: 10px;
}
#logo {
  height: 100px;
  width: 130px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}
.conteudo{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  
}
.titulo{
  font-size: 24px;
  margin-left: 10px;
  margin-top: 10px;
}
.usuario{
  font-size: 15px;
  color: gray;
  margin-left: 10px;
  margin-top: 5px;
}
.imgingredientes{
  width: 192px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 25px;
}

.imgpreparo{
  width: 215px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p{
  color: rgb(87, 87, 87);
  font-size: 17px;
  font-family: Louis George Cafe;
  margin-left: 5px;
}

i{
  color: red;
  padding-right: 10px;
  margin-left: 5px;
}
.ion-grid-container ion-icon{
  font-size: 'larger';
  color: yellow;
}
.ion-grid-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ad0002;
}
.rating-position{
  display: flex;
}

.nota{
  color: rgb(87, 87, 87);
  font-family: BebasNeue-Regular;
  position: relative;
  margin-left: 10px;
  margin-top: 8px;
}

.avaliar{
  font-family: BebasNeue-Regular;
  font-size: 17px;
  color: rgb(87, 87, 87);
}

ion-toolbar{
  background-color: #ad0002;
  color: white;
}




