<ion-header>
  <ion-toolbar color="body">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" />
    <ion-buttons slot="start">
      <ion-back-button defaultHref="{{post.tipo}}"></ion-back-button>
      <ion-title>{{post.titulo}}</ion-title>
      </ion-buttons>
      <ion-icon name="trash-outline"(click)="deletePost()"></ion-icon>
  </ion-toolbar>
 
  
</ion-header>
<ion-content>
  <div class="conteudo">
    <img src="{{ post.photo }}" class="img">
    <span class="titulo">{{ post.titulo }}</span>
    <span class="usuario">Por: {{post.usuario}}</span>
    <span class="nota"> Avaliação: {{teste}}</span>
    <img src="../assets/iconeingredientes.png" class="imgingredientes">
    <p><i class="icon ion-md-restaurant"></i>{{ post.ingredientes }}</p>
    <img src="../assets/iconepreparo.png" class="imgpreparo">
    <p><i class="icon ion-md-restaurant"></i>{{ post.modopreparo }}</p>
  </div>
  <p class="avaliar" style="text-align: center;">Avaliar receita!</p>
  <p style="text-align: center;">{{post.rating}}</p>
  <p style="text-align: center;">{{post.usernumb}}</p>
  <ion-grid class="ion-grid-container">
      <div class="rating-position" *ngFor="let star of stars; let i = index;" tappable (click)="starClicked(i)">
          <ion-icon [name]="star"></ion-icon>
      </div>
  </ion-grid>

</ion-content>
