<ion-content>
<div>
<div>
  <div  (click)="choosePhotos()" *ngIf="post.photo =='' ">
    <ion-icon name="add"></ion-icon>
  </div>
</div>

<div *ngIf="post.photo != '' ">
<img src="{{ post.photo}}"/>
</div>
</div>

<div>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" [(ngModel)]="post.title">
    </ion-input>
  </ion-item>
</div>
<ion-item>
  <ion-label position="floating">description</ion-label>
  <ion-input type="text" [(ngModel)]="post.description">
  </ion-input>
</ion-item>
</ion-content>
