#logo {
    height: 120px;
    width: 140px;
    position: absolute;
    right: 50%;
    top: 58%;
    transform: translate(50%,-50%);
  }
  #form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  ion-select{
    width: 100%;
  }
  ion-content{
    display:flex;
    align-self: center;
    --background: #ad0002;
  }
  
  ion-input{
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
  }
  ion-textarea{
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
  }
  
  ion-select {
    background-color: rgb(248, 248, 248);
    margin-top: 30px;
    margin-bottom: 8px;
    border-radius: 5px;
  }
  
  ion-button{
    display: flex;
    width: 100%;
    font-family: BebasNeue-Regular;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .botaopostar{
    background-color: white;
    color: #ad0002;
  }
  
  span{
    font-family: BebasNeue-Regular;
    color: white;
    font-size: 25px;
  }
  
  .texto{
    text-align: center;
    margin-top: 30px;
  }
  
  .img{
    border-radius: 5px;
    color: white;
    background: black;
    padding: 10px;
    border:none;
    margin-top: 8px;
  }
  
  
    
  