.wrapper{
  width: 90%;
  margin: 10% auto;
}

.photoDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.imgDiv{
  width: 35%;
  border-radius: 7px;
  background: #e4e4e4;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.imgDiv ion-icon{
  font-size: 30px;
  color: black;
}

.formBody{
margin: 10% auto;
}
ion-item{
  margin-bottom: 5%;
}