.wrapper{
  width: 90%;
  margin: 10% auto;
}

.photoDiv{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.img{
  width: 60%;
  border-radius: 7px;
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 3px solid #e4e4e4;
}

.imgDiv{
  width: 35%;
  border-radius: 7px;
  background: #e4e4e4;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.ios .imgDiv{
  width: 35%;
  border-radius: 7px;
  background: #e4e4e4;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.imgDiv ion-icon{
  font-size: 30px;
  color: black;
}

.formBody{
margin: 10% auto;
}
ion-item{
  margin-bottom: 5%;
}

#logo {
  height: 100px;
  width: 130px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

.ios #logo {
  height: 70px;
  width: 120px;
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
}

ion-content{
  display:flex;
  align-self: center;
  --background: #ad0002;

}

ion-input{
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
}
ion-textarea{
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
}

ion-select {
  background-color: rgb(248, 248, 248);
  margin-top: 30px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.ios ion-input{
  background-color: rgb(248, 248, 248);
  margin-bottom: 7px;
  text-indent: 10px;
}
.ios ion-textarea{
  background-color: rgb(248, 248, 248);
  margin-bottom: 7px;
  text-indent: 10px;
}



ion-select {
  background-color: rgb(248, 248, 248);
  margin-top: 30px;
  margin-bottom: 8px;
  border-radius: 5px;
}

div{
  width: 80%;
  margin-left: 35px;
}

ion-button{
  width: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-family: BebasNeue-Regular;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 5px;
}

.ios ion-button{
  width: 50%;
  height: 35px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-family: BebasNeue-Regular;
  font-size: 18px;
  margin-top: 20px;
}


 
.botaopostar{
  background-color: white;
  color: #ad0002;
}

span{
  font-family: BebasNeue-Regular;
  color: white;
  font-size: 25px;
}

.texto{
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.ios .texto{
  text-align: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
  
.aviso{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  margin-top: 10px;
}

i{
  padding-right: 5px;
}

.form{
  margin: auto;
}